/*size and color for the footer*/
footer {
    color: rgb(0, 0, 0);
    font-size: 120%;
}
/*size and color for the nav bar*/
nav {
    font-size: 150%;
    font-weight: 900;
    background-color: black;
    border:2px solid rgb(243, 10, 10);
    align-content: center;
    display: flex;
    justify-content: space-evenly;
}
.navElement {
    float: left;
  }
/*size and color for the header*/
header {
    background-color: rgb(14, 14, 14);
} 

.flex_parent { display:flex; }

.child { 
  background: gray;
  border:1px solid black;
  color:white;
}

.child1 { width:15%; }
.child2 { width:85%; }

a {
    color: white;
}
/*stops things in the dev from getting out*/
div {
    overflow: hidden;
}
/*color for the site*/
html {
    background-color: rgb(29, 28, 28);
}

img {
    color: white;
    padding-left: 5px;
}
/*color for the footer*/
footer {
    background-color: white;
}

.page3img{
    width: 500px;
    height: 350px;
    align-self: center;
}

a:hover{
    color: red;
}

a::before{
    background-image: url(CS.png);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
}
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-height: 680px) and (orientation: portrait) {
  /*size and color for the footer*/
    footer {
    color: rgb(0, 0, 0);
    font-size: 120%;
    }
/*size and color for the nav bar*/
nav {
    font-size: 150%;
    font-weight: 900;
    background-color: black;
    border:2px solid rgb(243, 10, 10);
    grid-template-columns: 5rem 5rem 5rem;
    grid-template:
    "nav1 nav2 nav3";
}
.navElement {
    float: left;

  }
/*size and color for the header*/
header {
    background-color: rgb(14, 14, 14);
} 

.flex_parent { display:flex; }

.child { 
  background: gray;
  border:1px solid black;
  color:white;
}

.child1 { width:35%; }
.child2 { width:65%; }

a {
    color: white;
}
/*stops things in the dev from getting out*/
div {
    overflow: hidden;
}
/*color for the site*/
html {
    background-color: rgb(29, 28, 28);
}

img {
    color: white;
    width: auto;
    height: 50%;
    max-width: 350px;
}
/*color for the footer*/
footer {
    background-color: white;
}

.page3img{
    width: 500px;
    height: 350px;
}

a:hover{
    color: red;
}

a::before{
    background-image: url(CS.png);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
}
}