/*size and color for the footer*/
footer {
    color: red;
    font-size: 120%;
}
/*size and color for the nav bar*/
nav {
    font-size: 150%;
    font-weight: 900;
    background-color: black;
    border:2px solid rgb(243, 10, 10);
    width: 70%;
}
/*size and color for the header*/
header {
    padding: 0% 0% 0% 20%;
    background-color: black;
} 

.flex_parent { display:flex; }

.child { 
  background: gray;
  border:1px solid black;
  color:white;
}

.child1 { width:15%; }
.child2 { width:85%; }

a {
    color: white;
}
/*stops things in the dev from getting out*/
div {
    overflow: hidden;
}
/*color for the site*/
html {
    background-color: black;
}

img {
    color: white;
}
/*color for the footer*/
footer {
    background-color: white;
}

.page3img{
    width: 500px;
    height: 350px;
}

a:hover{
    color: red;
}

a::before{
    content: url(CS.png);
    height: 50px;
    width: 50px;
}

