footer {
    color: red;
    font-size: 120%;
}
nav {
    font-size: 150%;
    font-weight: 900;
    background-color: rgb(173, 8, 8);
    border:2px solid black;
    width: 70%;
}

header {
    padding: 0% 0% 0% 20%;
} 

.flex_parent { display:flex; }

.child { 
  background: gray;
  border:1px solid black;
  color:white;
}

.child1 { width:30%; }
.child2 { width:70%; }

a {
    color: black;
}



